 *{
    padding: 0;
    margin: 0;
}


li {
    list-style: none;
}
body{

    background-color: antiquewhite;
}

.container{
    display: flex;
   flex-direction: column;
   align-items: center;
   height: 80vh;
   width: 50vw;
   margin: auto;
   box-shadow: -2px -2px 4px 3px wheat;
   background-color: white;
   margin-top: 50px;
   

}
.heading{
    color: rgba(3, 3, 203, 0.71);
    text-align: center;
    margin-top: 25px;
    letter-spacing: 4px;
    padding: 3px 3px;
}
#input{
   
    color: rgb(0, 0, 0);
    border: 1px solid rgb(14, 12, 12);
    padding: 8px 12px;
    border-radius: 10px;
}
#input:focus{
    border-color: rgb(48, 231, 20);
}

#add_btn{
    background-color: blue;
    color: white;
    border: 1px solid red;
    padding: 8px 12px;
    border-radius: 10px;

   
}
#add_btn:hover{
  border-color: white;
  
}
#add_btn:focus{
   background-color: black;
  }

.removeBtn {
    color: white;
    background-color: rgba(255, 0, 0, 0.779);
    border-bottom-right-radius: 9px;

    border-top-left-radius: 9px;
    padding: 6px 6px;
    margin-top: 6px;
    display: block;
   margin-left: auto;

}
.removeBtn:hover{
    background-color: red;
    color: white;
}
.removeBtn:focus{
   border: 2px solid white;
}
ul{
   
    width: 90%;

    overflow-y: auto;
    margin-top: 22px;
    padding:22px

  
}

li{
    background-color: rgba(169, 169, 169, 0.701);
    color: black;
    padding: 5px 2px;

}
.liClicked{
    text-decoration: line-through;
    letter-spacing: 3px;
   
} 